<!--The content below is only a placeholder and can be replaced.-->
<div class="test_block"
     [ngStyle]="blockSize"
>
  Resizeable block
</div>
<div class="app">
  <form class="app_form"
        #form="ngForm"
        (ngSubmit)="_setValue(form.value)"
  >
    <div class="app_form-block">
      <label for="value"
             class="app_form-label"
      >
        Complete value
      </label>
      <input id="value"
             type="number"
             class="app_form-input"
             name="value"
             [ngModel]="initialWidth"
             required/>
    </div>
    <div class="app_form-block">
      <label for="type"
             class="app_form-label"
      >
        Choose value type
      </label>
      <select id="type"
              name="type"
              class="app_form-input"
              [ngModel]="'px'"
      >
        <option *ngFor="let type of valueTypes"
                [value]="type"
        >
          {{type}}
        </option>
      </select>
    </div>
    <div class="app_form-error-message"
         [hidden]="form.valid"
    >
      Please enter size of block
    </div>
    <button class="app_button"
            [hidden]="reactiveMode"
            [disabled]="!form.valid"
    >
      Resize
    </button>
    <label>
      <input (change)="modeChange($event)"
             type="checkbox"/>
      Reactive change mode
    </label>
  </form>
</div>

<router-outlet></router-outlet>
